<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> Built_in Filter </h1>
        <!-- <h1>{{FO|lower}}</h1>
        <h1>{{FO|upper}}</h1>
        <h1>{{FO|capfirst}}</h1>
        <h1>{{FO|title}}</h1>
        <h1>{{FO|length}}</h1> -->
        <h1>{{dt|date:'Y'}}</h1>
        <!-- <h1>{{FO|truncatewords:'2'}}</h1>
        <h1>{{FO|truncatechars:'5'}}</h1> -->
        <h1>This pen {{v|pluralize:'is'}} mine</h1>
        <!-- <h1>{{FO|slice:'7'}}</h1> -->
        <h1>i have {{v}} pen{{v|pluralize}}</h1>
        <h1>i have {{v}} laptop{{v|pluralize}}</h1>
        <h1>i have {{v}} book{{v|pluralize}}</h1>
        <h1>i have {{v}} pen{{v|pluralize}}</h1>
        <h1>i have {{v}} phone{{v|pluralize}}</h1>
        <h1>i have {{v}} mango{{v|pluralize:'es'}}</h1>
        <h1>This {{v}} marker{{v|pluralize}} {{v|pluralize:'is,are'}} mine</h1>
        <h1>This {{v}} pen{{v|pluralize}} {{v|pluralize:'is,are'}} mine</h1>
    </center>
</body>
</html>